.status{
        border-radius: 5px 0 0 5px;
        border:1px solid #ddd;
        border-right: 4px solid #ddd;
        background-color: #f5f5f5;
        padding: 10px 15px;
    }
    .status .time{
        position: relative;
        width: 135px;
        text-align: left;
        border-right: 1px solid #ddd;
    }
    .status .time span{
        position: relative;
        z-index: 1;
    }
    /*.time:before{
        content: "";
        background-color: #fff;
        border-left: 2px solid #ccc;
        border-top: 2px solid #ccc;
        transform: rotate(-45deg);
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: 50%;
        z-index: 0;
        left: 0;
        top: -10px;
    }*/

    .status .details{
        position: relative;
        width: calc(100% - 40px);
        
    }

    .border-disabled{
        opacity: .5
    }

    /*.status:after{
        content: "";
        background-color: #ccc;
        position: absolute;
          right: -15px;
        bottom: -9px;
        height: 2px;
        width: calc( 100% + 15px);
    }*/

    .coupon .card-header{
        font-size: 50px;
        text-align: center;
    }
    .coupon .card-header .badge{
        padding: 15px 40px;
    }

    .bill{
        position: relative
    }
    .bill:after{
        content: '';
        position: absolute;
        right: 50%;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #ddd;
    }

    .ratings {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        color: #b1b1b1;
        overflow: hidden;
    }
    .full-stars {
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #fde16d;
    }
    .empty-stars:before, .full-stars:before {
        content:"\2605\2605\2605\2605\2605";
        font-size: 14pt;
    }
    .empty-stars:before {
        -webkit-text-stroke: 1px #848484;
    }
    .full-stars:before {
        -webkit-text-stroke: 1px orange;
    }
    /* Webkit-text-stroke is not supported on firefox or IE */

    /* Firefox */
     @-moz-document url-prefix() {
        .full-stars {
            color: #ECBE24;
        }
    }