@media (min-width: 768px) {
    .mobile-visible {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .navbar{
        padding: 0;
    }
    .form-inline .btn-search{
        left: 0;
    }

}

@media(max-width: 991px) {
    .autoComplate-custom {
        width: 70%;
        position: relative;
    }
    .my-sel {
        display: block;
    }
    .my-sel .dropdown {
        margin-bottom: 10px;
    }
    .empty-jobs .filter-area {
        padding: 20px 5px;
    }
    .form-inline {
        width: 100%;
    }
    .navbar .menu-wrapper {
        /* position: absolute; */
        /* top: -70px; */
    }
    .all-items .single-item {
        display: block;
    }
    .left-dropdown {
        /* position: absolute; */
        /* left: 35px; */
        /* top: -70px; */
    }
    .all-items .single-item .item-details {
        display: block;
        width: 100%;
        margin-top: 15px;
    }
    .all-items .single-item .item-details .second-details {
        text-align: right;
        margin-top: 15px;
    }
    .empty-jobs .left-icon {
        margin-left: 0px;
        position: absolute;
        top: 15px;
        left: 30px;
    }
    .products-list .product.sm-width {
        margin: 0 10px 20px;
    }
    .last-offers .off-img img {
        width: 100%;
    }
    .mobile-visible {
        display: block !important;
    }
    .mobile-hidden {
        display: none !important;
    }
    body {
        font-size: 13px;
    }
    section {
        padding: 40px 0;
    }
    .main-section {
        padding-top: 0;
    }
    .main-title {
        font-size: 24px;
    }
    .second-title {
        font-size: 17px;
    }
    .btn.btn-main {
        /* padding: 10px; */
        font-size: 20px;
        width: 100%;
        padding: 5px;
    }
    .clock ul li {
        margin: 0 5px;
        font-size: 10px;
    }
    .clock ul li:first-child {
        margin-right: 0;
    }
    .clock ul li:last-child {
        margin-left: 0;
    }
    #Date,
    #islamicDate {
        font-size: 10px;
    }
    .back-links li:first-of-type {
        margin-left: 0px;
        /* position: relative; */
        /* left: 5px; */
        margin-left: 15px;
    }
    .back-links li img {
        height: 12px;
    }
    .second-header .dropdown {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .second-header .country-name {
        padding-left: 10px;
    }
    .second-header .country-flag {
        padding-right: 10px;
    }
    .second-header .country-flag img {
        max-width: 23px;
    }
    .second-header .page-header p {
        margin-top: 10px;
    }
    .second-header .logo-block .navbar-barnd {
        width: 45px;
    }
    .logo-block .navbar-barnd img {
        width: 80px;
    }
    .navbar .menu-wrapper img {
        height: 20px;
    }
    .map-img {
        width: 200px;
    }
    .main-section .col-md-2.col-xs-12:first-of-type {
        margin-bottom: 30px;
    }
    .main-section .col-md-2.col-xs-12:last-of-type {
        margin-top: 30px;
    }
    .banner-area {
        height: 250px;
        margin: 0 auto;
        text-align: center;
    }
    .banner-area img {
        height: 100%;
        width: 100%;
    }
    .half-width {
        width: 100%;
        margin: 0 auto 30px;
    }
    /*  */
    .hrz-list .list-option {
        width: 50px;
        padding: 10px;
    }
    .hrz-list .list-details {
        width: calc(100% - 65px);
        padding: 10px 20px 10px 10px;
    }
    .full-height {
        min-height: unset;
        display: block;
    }
    .margin-2 {
        margin-bottom: 15px;
    }
    .font-2 {
        font-size: 14px;
        line-height: 26px;
    }
    .new .new-link {
        flex-direction: column;
    }
    .card-body {
        padding: 10px;
    }
    .card-body p {
        font-size: 13px;
        line-height: 23px;
    }
    .item-header {
        position: relative;
        height: 70px;
        /* top: 15px; */
    }
    .modal-dialog.awady-crop {
        max-width: 90% !important;
    }
    .item-header .page-header .main-title.regular {
        text-align: center;
        margin: 20px auto 0;
        font-size: 18px;
    }
    .bottom-info {
        position: relative;
        padding-top: 0;
    }
    .bottom-info .right-contact .item-avatar {
        width: 60px;
        height: 60px;
        position: absolute;
        margin: 0;
        top: -45px;
    }
    .bottom-info ul.left-contact {
        margin-right: 14px;
    }
    .toggle_icons .bottom-info ul.left-contact {
        margin-right: 14px;
    }
    .bottom-info .toggle_icons ul.dropdown-awady{
        /* display: none !important; */
    }
    .bottom-info .toggle_icons ul.dropdown-awady.show{
        display: block !important;
    }
    .products-list .product img.large-prev{
        display: none !important;
    }
    .bottom-info ul li:not(:last-of-type) {
        margin-left: 5px;
    }
    .bottom-info .right-contact .btn {
        padding: 2px 5px;
    }
    .toggle_icons .bottom-info ul li:not(:last-of-type) {
        margin-left: 0;
    }
    .bottom-info ul li {
        font-size: 14px;
    }
    .bottom-info ul li img {
        height: 15px;
    }
    .bottom-info .right-contact ul li .status {
        width: 7px;
        height: 7px;
    }
    .bottom-info ul li a .msg-num {
        position: absolute;
        top: -10px;
        left: 0;
        font-size: 11px;
    }
    .discount-bar h5 {
        font-size: 16px;
    }
    .product-description .col-lg-6:first-of-type .descripe-box {
        margin-bottom: 30px;
    }
    .product-description .descripe-box {
        padding: 15px;
    }
    .product-description .descripe-box p {
        max-height: 18px;
        overflow: inherit;
    }
    .all-items2 .single-item .item-details .second-details p {
        text-align: right;
    }
    .all-items .single-item .item-details .second-details.flex-column {
        display: block;
    }
    .globe-all {
        /* position: relative; */
        /* left: 0; */
        /* margin: 0 auto; */
        /* width: 400px; */
        /* top: 0; */
        /* height: 300px; */
        /* background-position: center; */
        /* background-size: 100%; */
        /* background-repeat: no-repeat; */
        /* overflow: hidden; */

    }
       .globe-all:before {
            width: 215px;
            height: 215px;

    }
    .globe {
        top: 75px;
        transform: scale(1.59);
    }
    .dropdown-menu {
        left: 0;
        right: 0;
        margin: 0 auto !important;
        width: auto;
    }
    .second-header .btn-select {
        padding: 0;
    }
    .dropdown-item {
        padding: 0;
    }
    .left-dropdown .dropdown-menu {
        left: 0;
        right: auto
    }
    .map-bar {
        width: 95%;
    }
    .map-bar ul li a {
        font-size: 15px;
    }
    .map-bar ul li a img {
        width: 30px;
    }
    .mapboxgl-ctrl-geolocate {
        height: 45px !important;
    }
    .mapboxgl-ctrl-top-right {
        top: 120px;
    }
    .mapboxgl-ctrl-geocoder--input {
        padding: 6px 15px;
    }
    .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder {
        width: 90%;
    }
    .mapboxgl-ctrl-group {
        position: fixed;
        bottom: 7%;
        right: 3%;
        height: 65px;
        width: 20%;
        text-align: center;
        background: transparent;
        color: red;
        opacity: 0;
        box-shadow: 0 0 0 0 !important;
    }
    .all-items .white-links li {
        display: block;
        margin: 10px 0;
    }
    .select2-container {
        width: 100% !important;
    }
    .second-header .page-header p.country, p.country {
        font-size: 14px;
        padding-left: 0px;
    }
    .id_country {
        transform: scale(0.8);
        padding-right: 10px;
    }
    .second-header .page-header {
        display: flex;
        width: 85%;
    }
    .my-city .select2-container {
        min-width: 100% !important;
        height: 42px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);
    }
     .my-city .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 42px;
    }
    .my-city {
        margin-left: 1%;
        width: 135px;
        display: inline-block;
        position: inherit;
        top: 15px;
    }
    .my-location {
        width: 135px;
        display: inline-block;
        margin-right: 3%;
        position: inherit;
        top: 15px;
    }
    .my-city .select2-container--default .select2-selection--single {
        padding: 5px;
        height: 42px;
        line-height: 42px;
    }
    .my-city .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: auto;
    }
    .stars {
        height: 250px;
        width: 250px;

    }
    .stars::before{
        width: 170px;
        height: 170px;
        top: 35px;
        left: -47px;
        transform: scale(1.8) rotate(-8deg);
    }
    /* .products-list .product.sm-width:nth-child(2) h3.more-products{
        display: block;
    } */
    .products-list .product.sm-width:last-child h3.more-products{
        display: block;
    }
    /* .bottom-info ul {
        position: absolute;
        left: 0;
        top: -65px;
    } */
    .product-header {
        padding: 10px 0;
    }
    .product-header p {
        margin: 0;
    }
    .bottom-info .right-contact .list-unstyled {
        position: absolute;
        left: 0;
        top: -63px;
    }
    .buttons-list{
        display: block !important;
        padding: 15px 10px !important;
    }
    .buttons-list .btn{
        width: 45% !important;
    }
    .top-buttons {
        height: 120px !important;
        line-height: inherit !important;
    }
    .buttons-list label {
        font-size: 10px;
        font-weight: bold;
    }
    .cr-viewport.cr-vp-square {
        height: 70px !important;
    }
    .cr-boundary {
        height: 100px !important;
    }
    .choose_color .button span {
        width: 30px;
        height: 30px;
    }
    .button span:before {
        height: 30px;
    }
    .choose_color .button span svg {
        font-size: 14px;
    }
    .choose_color .button span {
        line-height: 33px;
    }
    .choose_color label small {
        font-size: 57%;
    }
    .choose_color .button {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
    }
    .choose_color .layer {
        height: 85%;
    }
    a.btn.btn-warning.crop_image {
        top: 35% !important;
        font-size: 10px !important;
    }
    .cr-slider-wrap {
        position: inherit !important;
    }
    .bottom-info .right-contact{
        overflow: hidden;
    }
    a.btn.btn-warning.crop_image_avatar {
        width: max-content !important;
        padding: 12px !important;
        position: absolute !important;
        font-size: 10px !important;
        top: -65px !important;
        margin: 0 auto !important;
        left: 22px !important;
        /* right: 0; */
        padding: 8px !important;
        z-index: 9 !important;
    }
    #image_avatar .cr-boundary{
        width: 165px !important;
        height: 165px !important;
    }
    #image_avatar .cr-viewport.cr-vp-circle{
        width: 100px;
        height: 100px;
    }
    #image_avatar{
        margin-top: 30px;
    }

}


@media (max-width: 767px) {

    .excellence .right-excel .ex-link a {
        width: 100%;
    }
    .it-engineer {
        display: block;
    }
    .second-header .logo-block {
        top: 30px;
    }
    .second-header .page-header {
        width: 90%;
        margin: 0 auto 15px auto;
    }
    .second-header .apps{
        display: none;
    }
    .upload-list {
        display: block;
    }
    .upload-list .file-upload .file-select {
        margin: 0 auto;
    }
    .navbar .navbar-collapse {
        width: 280px;
        right: -280px;
        padding: 70px 0px 0;
    }
    .navbar .navbar-collapse.show {
        display: block !important;
        right: 0 !important;
    }
    .navbar-collapse .bottom-action {
        padding: 0px;
        display: block;
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    .user-info .avatar {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .user-info .user-name {
        width: calc(100% - 70px);
    }
    .user-info .user-name .user-text {
        font-size: 16px;
    }
    .all-items {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.56);
    }
    .all-items .single-item .item-avatar {
        width: 70px;
        height: 70px;
        margin-left: 10px;
    }
    .all-items .single-item .item-details {
        width: 100%;
    }
    .all-items .single-item .item-details h5 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .all-items .single-item .item-details p {
        font-size: 15px;
    }
    .all-items .single-item .item-details .second-details span {
        font-size: 15px;
    }
    .all-items .single-item .item-details .second-details span.distance {
        width: 40px;
        height: 40px;
        font-size: 11px;
    }
    .all-items .single-item .item-details .second-details span.date {
        width: 61px;
    }
    #map {
        width: auto;
        height: 200px;
    }
    .list-title {
        font-size: 16px;
    }
    .list-inline.mrgn-b {
        margin-bottom: 20px;
    }
    .list-inline-item {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 11px;
    }
    .product-contact .top {
        flex-direction: column;
    }
    .product-contact .job-icon {
        margin: 0 auto 15px;
    }
    /* chat page */
    .chat-area .messages-list {
        width: 90%;
        margin-bottom: 20px;
    }
    .chat-area .messages-list .message .message-content .message-text {
        border-radius: 20px;
    }
    .all-messages .all-items .single-item .item-details .second-details .date {
        font-size: 13px;
    }
    .custom-inpt {
        padding: 20px 12px 1px 6px;
        border-radius: 10px;
        display: block !important;
    }
    .custom-inpt label {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .editable-location {
        width: 100%;
    }
    .all-list {
        width: 100%;
        margin-bottom: 10px;
        padding: 12px 16px 0;
    }
    .globe-all {
        /* position: relative; */
        /* left: 0; */
        /* margin: 0 auto; */
        /* width: 400px; */
        /* top: 0; */
        /* height: 300px; */
        /* background-position: center; */
        /* background-size: 100%; */
        /* background-repeat: no-repeat; */
        /* overflow: hidden; */
    }
    .globe {
        /* border-radius: 50%; */
        /* height: 150px; */
        /* left: 35%; */
        /* overflow: hidden; */
        /* position: absolute; */
        /* top: 14%; */
        /* width: 200px; */
        /* right: 0; */
        /* transform: scale(1.2); */
        /* margin: 0 auto; */
    }
    .second-header .country-name {
        border-left: 0;
    }
    .mapboxgl-ctrl-top-right {
        top: 120px;
    }
    .container-map .dropdown .btn.btn-main {
        margin-bottom: 15px;
    }
    .map-bar {
        width: 95%;
    }
    .map-bar ul li a {
        font-size: 11px;
        font-weight: bold;
    }
    .map-bar ul li a img {
        width: 20px;
    }
    .mapboxgl-ctrl-geolocate {
        height: 45px !important;
    }
    .container-map .row-options {
        display: flex !important;
    }
    .banner-mobile .banner-area{
        height: 120px;
        margin-bottom: 15px;
    }
    .product-all .single-item.f-width {
        max-width: 100%;
    }
    .logo-block {
        width: 114px;
        text-align: center;
    }
    .navbar .navbar-collapse{
        padding-top: 45px;
        padding-bottom: 70px;
    }
    .toggle_icons {
        top: 16%;
        left: -66px;
        padding: 10px;
    }

    .product-description .w-radius {
        border-radius: 25px;
    }
}

@media(max-width:500px) {
    .globe-all {
        /* position: relative; */
        /* left: 0; */
        /* margin: 0 auto; */
        width: 300px;
        /* top: 0; */
        /* right: 20%; */
        height: 300px;
        /* background-position: center; */
        /* background-size: 100%; */
        /* background-repeat: no-repeat; */
        /* overflow: hidden; */
        /* transform: scale(1.3); */
    }
    .globe {
        /* border-radius: 50%; */
        /* height: 150px; */
        /* left: 35%; */
        /* overflow: hidden; */
        /* position: absolute; */
        /* top: 20%; */
        /* width: 190px; */
        /* right: 0; */
        transform: scale();
        /* margin: 0 auto; */
    }
    .main-section .row-options {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        margin: 0;
        z-index: 1;
    }
    .second-header .country-name {
        width: 65px;
    }
    .global-center {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
    }
}
